.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: azure;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}